@font-face {
    font-family: "sans-serif-regular";
    src: url("../fonts/basically_a_sans_serif/fonts/ttf/BasicallyASansSerif-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "opticubalibretwo";
    src: url("../fonts/OPTICubaLibreTwo/OPTICubaLibreTwo.otf")
        format("opentype");
}

h1 {
    font-family: "opticubalibretwo";
    font-size: 32px;
}

p {
    font-family: "sans-serif-regular";
    font-size: 13.3px;
    color: #959595;
}

.header {
    background-color: #e9e9e9;
}

.cta {
    display: inline-block;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    background-color: #82f4d3;
    font-family: "sans-serif-regular";
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.main_shoe {
    background-color: #e9e9e9;
}

.arrival_div {
    width: 200px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 24px;
}

.arrival_img {
    height: 100%;
    display: inline-block;
}

.arr_ref_div {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.arr_inner {
    height: 100%;
    display: inline-block;
    width: 1px;
    vertical-align: middle;
}

.arr_ref {
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
    font-size: 12px;
    /*display: none;*/
}

.arr_ref:hover {
    vertical-align: middle;
    color: rgba(144, 243, 215, 0.5);
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
    font-size: 12px;
    display: none;
}

.socials {
    width: 70px;
    height: 150px;
    /*left: 1000px;*/
    position: relative;
    /*float: right;*/
    background-color: red;
}

.note {
    height: 170px;
    text-align: center;
    background-color: #f8f8f8;
}

.note h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: black;
}

.note p {
    margin-bottom: 10px;
}

.note #designer_name {
    font-size: 16px;
    color: #9a9a9a;
}

.fall_collection_section {
    padding: 8rem 10rem;
    display: flex;
}

.fall_collection_left_side {
    flex: 1;
    padding-top: 10%;
}
.fall_collection_right_side {
    flex: 1;
    padding-top: 5%;
}

.fall_collection_left_side > h1 {
    margin: 1.5rem 0rem;
}

.fall_collection_left_side > p {
    margin: 1rem 0rem;
    line-height: 1.5rem;
}

.fall_collection_left_side > a {
    text-decoration: none;
    font-family: "opticubalibretwo";
    color: initial;
    pointer-events: auto;
    cursor: pointer;

    padding: 1rem 2rem;
    margin: 2rem 1rem;

    display: inline-block;
    background-color: #75d7bc;

    border: none;
}

.fall_collection_right_side > img {
    height: 25rem;
    margin: auto auto;
    display: block;
    box-shadow: 8rem 5rem 0rem rgba(117, 215, 188, 0.56);
    -moz-box-shadow: 8rem 5rem 0rem rgba(117, 215, 188, 0.56);
    -webkit-box-shadow: 8rem 5rem 0rem rgba(117, 215, 188, 0.56);
    -khtml-box-shadow: 8rem 5rem 0rem rgba(117, 215, 188, 0.56);
}
